.MuiTypography-h6{
    color: #44d62c !important;
    font-weight: bolder;
    font-size: 1.5em !important;
}

.MuiIconButton-label{
    color: #44d62c !important;
    font-weight: bolder;
    font-size: 1.8em !important;
}